<!DOCTYPE html>
<html data-ng-app='sixteenBars'>
  <head>
    <meta charset="utf-8">
    <title>sixteenbars</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.2/require.min.js" charset="utf-8"></script>
    <script src="./js/poems.module.js" charset="utf-8"></script>
    <script src="./js/poems.controller.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>

  <body data-ng-controller='PoemCtrl as vm'>


<h1>{{8 + 8}} BARS</h1>

  <div class="think">So you think you've got bars?</div><br>
<button class="button" ng-click="getPoems()">show poems</button>


<!--states view-->
<!-- <div ui-view></div> -->

<div>

       <table>
          <tr>
             <th>Title</th>
             <th>Body</th>
          </tr>

          <tr ng-repeat="e in poems">
            <div ng-click="showPoem(e.id)" ui-show='show'>

            </div>
             <td>{{ e.title }}</td>
             <td>{{ e.body }}</td>
          </tr>
       </table>
    </div>


  </body>
</html>
