body {
  text-align: center;
  background-color: #ff3333;
}

div {
  background-color: #ffffff;
}

.think {
  font-size: 25px;
}

.signbuttons {
  width: 300px;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
}

.textarea {
  margin-left: auto ;
  margin-right: auto ;

}
