body {
  text-align: center;
  background-color: silver;

}

div {
  background-color: silver;
  text-align: center;
}

#buttons {
  text-align: center;
  background-color: silver;
  width: 100px;
  height: 50px;


}

#header {
  background-color: silver;
}

#textArea {
  justify-content: flex-end;
  display: inline-block;
}
